<center>
   <br><br>
  <h1 style="font-size: 100px;color: #ff4500;font-weight: 800;">君たちはきっと強くなれる</h1>
   <br><br><br><br><br><br>

<div style="font-size:50px;">
  <%= link_to "本日の投稿", new_record_path, class:"btn btn-primary btn-lg", style:"height:100px;width:40%;font-size:60px" %>
  <br><br>
  <%=link_to "みんなのタスク", langs_path, class:"btn btn-info", style:"height:50px;width:30%;font-size:30px"%>

  <%=link_to "みんなの歴史", users_path, class:"btn btn-warning", style:"height:50px;width:30%;font-size:30px" %>
</div>

</center>
