<h1>言語一覧</h1>

<%= link_to "新規登録", new_lang_path, class: "btn btn-primary" %><br><br>

<h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>言語名</th>
    <th>要素数</th>
    <th>参加人数</th>
  </tr>
  </thead>
  <tbody>
    <% @langs.each do |lang| %>
      <tr>
        <td><%= link_to lang.name, lang_path(lang) %></td>
        <td><%= lang.elems.count %></td>
        <% langs = [] %>
        <% RecordElem.all.each do |f| %>
          <% if f.elem.lang.name == lang.name %>
            <% langs.push(f.record.user.name) %>
          <% end %>
        <% end %>
        <td><%= langs.uniq.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</h2>